In [ ]:
print("hello world")

hello world

In [ ]:
## programa 2
a = "9"
b = "10"
resultado = a < b 
print (resultado)

False

In [ ]:
## programa 3 
a = 100
b = 20
resultado = a * b
print(resultado)

2000

In [ ]:
## programa 4 
precos = {
    "celular": 1500,
    "computador": 5000,
    "tablet": 2000,
}

for item in precos:
  print(item)

celular
computador
tablet

In [ ]:
## programa 4 
precos = {
    "celular": 1500,
    "computador": 5000,
    "tablet": 2000,
}

for item in precos:
  print(precos[item])

1500
5000
2000

In [ ]:
## calculadora adiçao
number_1 = int(input('digite o primeiro numero: ' ))
number_2 = int(input('digete  o segundo numero: ' ))
print(number_1 + number_2)

digite o primeiro numero: 25
digete  o segundo numero: 33
58

In [ ]:
## calculadora adiçao
number_1 = int(input('digite o primeiro numero: ' ))
number_2 = int(input('digete  o segundo numero: ' ))
print(number_1 * number_2)

digite o primeiro numero: 66
digete  o segundo numero: 120
7920

In [ ]:
## calculadora adiçao
number_1 = int(input('digite o primeiro numero: ' ))
number_2 = int(input('digete  o segundo numero: ' ))
print(number_1 / number_2)

digite o primeiro numero: 2
digete  o segundo numero: 16
0.125

In [ ]:
# aplicando conjunto (sets) em python
planeta_anao = {'plutao', 'ceres', 'eris', 'haumea', 'makemake'}
planeta_ss = {'saturno','jupter', 'venus'}
print(planeta_anao)#

{'haumea', 'eris', 'plutao', 'ceres', 'makemake'}

In [ ]:
# aplicando conjunto (sets) em python
planeta_rebeca = {'plutao', 'ceres', 'eris', 'rebeca', 'makemake'}
planeta_ss = {'saturno','jupter', 'venus'}
print(planeta_rebeca)

{'eris', 'plutao', 'ceres', 'rebeca', 'makemake'}

In [ ]:
# aplicando conjunto (sets) em python
planeta_rebeca = {'maria', 'lidia', 'livia', 'rebeca', 'duda'}
planeta_ss = {'saturno','jupter', 'venus'}
print(planeta_rebeca)

{'lidia', 'rebeca', 'maria', 'livia', 'duda'}

In [ ]:
# exemplo de criaçao de sets com elementos repetidos (distintos)
numeros = [1, 2, 2, 3, 3, 3]
numeros_distintos = set()
for num in numeros:
  numeros_distintos.add(num)
print("numeros", numeros)
print("numeros distintos", numeros_distintos)

numeros [1, 2, 2, 3, 3, 3]
numeros distintos {1, 2, 3}

In [ ]:
# exemplo de criaçao de sets com elementos repetidos (distintos)
numeros = [1, 2, 2, 4, 4]
numeros_distintos = set()
for num in numeros:
  numeros_distintos.add(num)
print("numeros", numeros)
print("numeros distintos", numeros_distintos)

numeros [1, 2, 2, 4, 4]
numeros distintos {1, 2, 4}

In [ ]:
## quantidade de elementos dos sets
planeta_anao = {'}
print(planeta_anao)
qtde_planetas = len(planeta_anao)
print(qtde_planetas)

{'haumea', 'eris', 'plutao', 'ceres', 'makemake'}
5

In [ ]:
## comparando sets
planetas1 = {'terra', 'venus', 'mercurio', 'marte'}
planetas2 = {'terra', 'venus', 'mercurio', 'marte', 'saturno'}
print(planetas1 == planetas2)
print(planetas1 != planetas2)

False
True

In [ ]:
## uniao de sets
planetas1 = {'terra', 'venus', 'mercurio', 'marte'}
print(planetas1.union(planetas2))

{'saturno', 'netuno', 'venus', 'terra', 'mercurio', 'marte'}
{'saturno', 'netuno', 'venus', 'terra', 'mercurio', 'marte'}

In [ ]:
## imterceçao de conjuntos
print('ola natalia')

ola natalia

In [ ]:
## interceçao de conjuntos
planetas1 = {'terra', 'venus', 'mercurio', 'marte'}
planetas2 = {'terra', 'jupiter', 'urano', 'saturno', 'marte'}
print(planetas1 & planetas2)
print(planetas1.intersection(planetas2))

{'terra', 'marte'}
{'terra', 'marte'}

In [ ]:
## diferença de conjuntos
planetas1 = {'terra', 'venus', 'mercurio', 'marte','netuno'}
planetas2 = {'terra', 'jupiter', 'urano', 'saturno', 'marte'}
print(planetas1 - planetas2)
print(planetas1.difference(planetas2))

{'mercurio', 'netuno', 'venus'}
{'mercurio', 'netuno', 'venus'}

In [ ]:
## adicionar e remover elementos em um conjunto 
planetas = {'mercurio', 'venus', 'terra', 'marte'}
planetas.add('jupiter')
planetas.add('marte')
print(planetas, end='')
planetas.remove('terra')
print(planetas, end='')
planetas.discard('terra')
print(planetas, end='')

{'jupiter', 'venus', 'terra', 'mercurio', 'marte'}{'jupiter', 'venus', 'mercurio', 'marte'}{'jupiter', 'venus', 'mercurio', 'marte'}

In [ ]:
print('ola')

ola

In [ ]:
## pertinencia
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
c = {2, 4, 6, 8}
2 in b

False

In [ ]:
## inclusao
a = {1, 2, 3, 4}
b = {3, 5}
c = {2, 3}
c.issubset(a)

True

In [ ]:
## programa final da aula de hoje
print('goodbye, world!')

goodbye, world!