In [ ]:
## tipo inteiro
#int 
idade = 18
ano = 2005
print(type(idade))
print(type(ano))

<class 'int'>
<class 'int'>

In [ ]:
# numero racional
altura = 1.80
peso = 73.55
print(type(peso))
print(type(altura))

<class 'float'>
<class 'float'>

In [ ]:
## numero complexo
a = 5+2j
b = 20+6j
print(type(a))
print(type(peso))
print(complex(2, 5))

<class 'complex'>
<class 'complex'>
(2+5j)

In [ ]:
# strig (str)
nome = 'guilherme'
profissao = 'engenheiro de software'
print(type(profissao))
print(type(nome))

<class 'str'>
<class 'str'>

In [ ]:
# boolean
fim_de_semana = True
feriado = False
print(type(fim_de_semana))
print(type(feriado))

<class 'bool'>
<class 'bool'>

In [ ]:
# listas
aluno = ['amanda', 'ana', 'bruno', 'joao']
notas = [10, 8, 7.8, 8.0]
print(type(aluno))
print(type(notas))

<class 'list'>
<class 'list'>

In [ ]:
# tuplas
valores = (90, 79, 54, 32, 21)
pontos = (100, 94.05, 86.8, 62)
print(type(valores))
print(type(pontos))

<class 'tuple'>
<class 'tuple'>

In [ ]:
# convertendo numeros
# decimal (flot) para string(str)
# antes da conversao
altura = 1.80
print(type(altura))
#conversao do tipo
altura = str(altura)
# depois da conversao
type(altura)
print(altura)

<class 'float'>
1.8

In [ ]:
# inteiro para decimal
# antes da conversao
idade = 18
print(type(idade))
# conversao do tipo 
idade = float(idade)
#depois da conversao 
print(type(idade))
print(idade)

<class 'int'>
<class 'float'>
18.0

In [ ]:
#booleano (bool) para inteiro (int)
#antes da conversao 
fim_de_semana = True
print(type(fim_de_semana))
#conversao do tipo
fim_de_semana = int(fim_de_semana)
# depois da conversao 
print(type(fim_de_semana))
print(fim_de_semana)

<class 'bool'>
<class 'int'>
1

In [ ]:
#dicionario em python
altura = {'amanda': 1.65, 'ana': 1.60, 'joao': 1.70}
peso = {'amanda':60, 'ana': 50, 'joao': 68}
print(type(altura))
print(type(peso))

<class 'dict'>
<class 'dict'>